#create-proposal{
	.btn{
		display: inline-block;
	}
	.learn-more{
		display: block;
		margin-top: @baseLineHeight;
	}
}
.project-outline{
	header{
		margin-bottom: 0;
	}
	.project-title{
		font-size: 100%;
		margin: 0;
		padding: 0;
	}
}
