.project-entry{
	.stats-pane{
		clear: both;
		position: relative;
		padding-bottom: @baseLineHeight;
		border-bottom: 2px solid black;
	}
	header{
		padding-right: 0;
	}
}
.date-accepted{
	color: black;
	font-weight: 600 !important;
}
