.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.muted-link-color {
  color: #8fabb3;
}
.muted-link-color:hover {
  color: #445d64;
}
.bs-docs-sidebar .sub-nav {
  top: 140px;
}
p {
  font-size: 16.000000002px;
  font-weight: 400;
  line-height: 1.375;
  color: #707070;
}
[role="main"],
.subhead {
  *zoom: 1;
  margin: 40px 0;
}
[role="main"]:before,
.subhead:before,
[role="main"]:after,
.subhead:after {
  display: table;
  content: "";
  line-height: 0;
}
[role="main"]:after,
.subhead:after {
  clear: both;
}
[role="main"] header h1,
.subhead h1 {
  font-weight: 300;
  color: #263945;
}
figure,
.figure {
  display: block;
  margin-bottom: 20px;
}
figure p,
.figure p {
  font-size: 13.000000006px;
  font-weight: 400;
  line-height: 1.384615385;
  padding-top: .5em;
}
img.figure {
  margin-bottom: 13px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.left,
.right {
  margin-top: 5px;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
  margin-left: 20px;
}
.small {
  width: 30%;
}
.medium {
  width: 60%;
}
.large {
  width: 90%;
  max-width: 640px;
}
.caption,
figcaption {
  display: block;
  font-size: 90%;
  color: #555;
  margin: 0 0 13px;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}
figure img + div,
.figure img + div {
  display: block;
  padding: 0 15px;
}
figure .liner,
.figure .liner,
figure .has-border,
.figure .has-border {
  padding: 10px;
  background: #eee;
  border: 1px solid #dedede;
}
figure .liner,
.figure .liner {
  margin: 0;
}
figure .caption,
.figure .caption {
  margin-bottom: 0;
}
.navbar-inner {
  min-height: 70px;
}
.brand span {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: block;
  background: url(../img/nesi-logo.png) no-repeat 0 0;
  height: 70px;
  width: 190px;
}
.account-summary .avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.avatar {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.size32 {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 979px) {
  #pnav a,
  #global-nav a {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
#pnav .dropdown-menu,
#global-nav .dropdown-menu {
  margin-top: -25px;
}
#pnav .dropdown-menu a,
#global-nav .dropdown-menu a {
  padding: 3px 20px;
}
#pnav a {
  color: #8eaab2;
}
#pnav a:hover {
  color: #445c63;
}
#pnav .active a {
  color: #f04e63;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#global-nav {
  font-size: 12px;
}
#global-nav > ul > li > a {
  color: #6e6e6e;
}
#global-nav .dropdown-toggle {
  background: none;
}
#global-nav .current-user .metadata {
  display: block;
  font-size: 11px;
}
#global-nav a.account-summary {
  min-height: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
#global-nav a.account-summary .content {
  padding-right: 15px;
  margin-top: 1px;
  margin-right: 0;
  line-height: 14px;
  margin-left: 42px;
}
#global-nav a.account-summary .avatar {
  top: 10px;
  left: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#home-hero {
  border-bottom: 1px double #e1e1e1;
  padding-bottom: 1px;
  margin-top: -20px;
}
#home-hero .item {
  min-height: 460px;
  *zoom: 1;
}
#home-hero .item:before,
#home-hero .item:after {
  display: table;
  content: "";
  line-height: 0;
}
#home-hero .item:after {
  clear: both;
}
.lt-ie8 #home-hero .item {
  height: 460px;
}
#home-hero .item img {
  position: absolute;
  z-index: 2;
}
#home-hero .slide-content {
  position: relative;
  z-index: 3;
}
#home-hero .slide-content {
  top: 230px;
  margin-top: -95.83333333333334px;
  width: 60%;
  max-width: 660px;
  margin-left: 140px;
}
#home-hero .slide-title {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 2px;
}
#home-hero .slide-title span {
  line-height: 1;
  display: inline-block;
  margin-bottom: .2em;
  padding-left: .25em;
  padding-right: .25em;
}
#home-hero .slide-link {
  font-weight: 600;
  font-size: 120%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#slide-research-application {
  background-color: #e1e1e1;
}
#slide-research-application .slide-title span {
  background-color: #2ba0c2;
  color: #ffffff;
}
#slide-research-application .slide-link {
  color: #2ba0c2;
}
#slide-research-application .slide-title .line1 {
  background-color: #f04e63;
}
#slide-research-application img {
  top: 50%;
  left: -20px;
  margin-top: -170px;
}
#slide-case-study {
  background-color: #e1e1e1;
}
#slide-case-study .slide-title span {
  background-color: #2ba0c2;
  color: #ffffff;
}
#slide-case-study .slide-link {
  color: #f9cc02;
}
#slide-case-study img {
  top: 10px;
  left: -20px;
}
#slide-national-roadshow {
  background-color: #54b1cc;
}
#slide-national-roadshow .slide-title span {
  background-color: #2ba0c2;
  color: #ffffff;
}
#slide-national-roadshow .slide-link {
  color: #f9cc02;
}
#slide-national-roadshow img {
  top: -24%;
  left: -20px;
}
.page-intro {
  position: relative;
  z-index: 20;
  background: white;
  border-top: 5px solid #b3cf1a;
  margin-top: -65px;
  padding-top: 20px;
  -webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.09);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
.home-intro > h1 {
  display: none;
}
.sub-feature {
  text-align: center;
  padding: 10px 20px;
}
.sub-feature .feature-title {
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 0;
}
.sub-feature .feature-title:before {
  font-family: ModernPictogramsNormal;
  font-size: 70px;
  font-weight: normal;
  line-height: 114px;
  content: '';
  background-color: #c8e5ed;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  display: block;
  margin: -20px auto 0;
  color: rgba(24, 128, 155, 0.8);
  cursor: pointer;
}
.sub-feature p {
  color: #777;
}
.sub-feature .l-more {
  display: block;
}
#bestgrid-intro .feature-title:before {
  content: "3";
}
#calculator-intro .feature-title:before {
  content: "5";
}
#facilities-intro .feature-title:before {
  content: ",";
}
.home-intro .page-summary {
  font-size: 16.8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 300;
  max-width: 620px;
  color: #555;
}
@media (min-width: 768px) and (max-width: 979px) {
  .home-intro .page-summary {
    width: 86.666667%;
  }
}
@media (min-width: 1200px) {
  .home-intro .page-summary {
    width: 66.666667%;
  }
}
.news-events-overview {
  padding-top: 18px;
  margin-top: 19px;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.news-overview section > h1,
.events-overview section > h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.571428571;
  color: #22809b;
  text-transform: uppercase;
}
.news-overview a:hover,
.events-overview a:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.events-overview footer > a {
  margin-left: 30px;
}
@media (min-width: 979px) {
  .news-overview footer > a {
    margin-left: 10.5%;
  }
}
.meta-date {
  color: #6a6a6a;
  font-size: 0.785714286em;
  font-weight: 400;
  line-height: 1.636;
  text-transform: uppercase;
}
.author {
  text-transform: none;
}
.o-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.o-item .summary {
  padding-right: 10%;
}
@media (min-width: 979px) {
  .o-item {
    position: relative;
    padding-left: 10.5%;
  }
}
.o-title {
  font-size: 16.8px;
  font-weight: 600;
  line-height: 1.222222222;
  padding-right: 10%;
  color: #333333;
}
.o-title a {
  color: #050505;
}
.news-item .meta-date {
  font-weight: 700;
}
.news-item .meta-date .yr {
  font-weight: 300;
}
@media (min-width: 979px) {
  .news-item .meta-date {
    width: 8.547008547%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    text-align: right;
  }
  .news-item .yr {
    display: block;
  }
}
.event-item .o-title:before {
  content: "";
  font-family: ModernPictogramsNormal;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  color: #b0b0b0;
}
@media (min-width: 979px) {
  .event-item {
    padding-left: 30px;
  }
}
.event-type-seminar .o-title:before {
  content: "S";
}
.event-type-roadshow .o-title:before {
  content: "D";
}
.breadcrumbs {
  margin-top: 20px;
  margin-bottom: -40px;
  margin-left: 2.564102564102564%;
}
.breadcrumbs ol {
  margin-left: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.breadcrumbs a {
  color: #8fabb3;
  font-size: 11.000000004px;
  font-weight: 400;
  line-height: 1.636;
}
.breadcrumbs a:hover {
  color: #445d64;
}
.breadcrumbs a:after {
  font-family: ModernPictogramsNormal;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.8;
  content: '\e75e';
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  color: #b3b3b3;
  margin-left: 8px;
  margin-right: 6px;
}
.breadcrumbs li:last-child a:after {
  content: none;
}
.related ol,
.sub-nav ol,
.related ul,
.sub-nav ul {
  margin-left: 0;
  list-style: none;
}
.news-article[role="main"] .entry p:first-of-type {
  margin-left: -19%;
}
.entry p:first-of-type {
  font-size: 20.000000006px;
  font-weight: 300;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 18px;
}
.entry ul {
  margin-left: 0px;
  color: #707070;
}
.related h2,
.sub-nav h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.571428571;
  margin-top: 0;
}
.related li,
.sub-nav li {
  line-height: 1.285714286;
  margin-bottom: 1em;
}
.related a,
.sub-nav a {
  color: #8fabb3;
}
.related a:hover,
.sub-nav a:hover {
  color: #445d64;
}
.single-post .sub-nav {
  margin-top: 100px;
}
.sub-nav .active a {
  color: #f04e63;
}
.sub-nav .active a:before {
  font-family: ModernPictogramsNormal;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.8;
  content: '\e75e';
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: -14px;
  margin-right: 10px;
  vertical-align: middle;
}
.directorynav,
.collaborators {
  padding-top: 18px;
  margin-top: 19px;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.directorynav h3,
.collaborators h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.571428571;
  color: #263945;
}
.directorynav nav li,
.collaborators nav li {
  font-size: 13.000000006px;
  font-weight: 400;
  line-height: 1.636;
}
.directorynav a,
.collaborators a {
  color: #363636;
}
.collaborators li {
  margin-right: 3%;
}
.legal {
  background: #273945;
  color: #6e818c;
  font-size: 80%;
  padding: 6px 0;
  text-align: center;
  margin: 0;
}
.modal-message {
  padding: 20px;
  border: 1px solid #cccccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.chromeless .modal-message {
  width: 60%;
  margin: 164px auto 10px;
}
#login-info {
  margin: 40px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
#login-info h1 {
  font-size: 100%;
  margin-bottom: 0;
}
#login-info h1 img {
  display: block;
  margin: 0 auto;
}
#login-application-form {
  text-align: left;
}
