.page-intro{
	position: relative;
	z-index: 20;
	background: white;
	border-top: 5px solid @nesi-green;
	margin-top: -65px;
	padding-top: @baseLineHeight;
	.box-shadow(0 -4px 10px rgba(0,0,0, .09));
	.border-radius(2px 2px 0 0);
	padding-left: @baseLineHeight;
	padding-right: @baseLineHeight;
	margin-bottom: @baseLineHeight*2;
}
.home-intro > h1{
	display: none;
}
.sub-feature{
	text-align: center;
	padding: (@baseLineHeight/2) @baseLineHeight;
	& > a:hover{
		text-decoration: none;
	}
	.feature-title{
		font-weight: 300;
		font-size: @baseFontSize*1.5;
		margin-bottom: 0;

		&:before{
			#font > .pictograms(70px, normal, 114px);
			content: '';
			background-color: #c8e5ed;
			.square(114px);
			.border-radius(500px);
			display: block;
			margin: -@baseLineHeight auto 0;
			color: rgba(24, 128, 155, .8);
			cursor: pointer;
		}
	}
	p{color: #777;}
	.l-more{
		display: block;
	}
}
.no-borderradius .sub-feature .feature-title:before{
	background: none;
	text-align: center;
}
#bestgrid-intro .feature-title:before{
	content: "3";
}
#calculator-intro .feature-title:before{
	content: "5";
}
#facilities-intro .feature-title:before{
	content: ",";
}


.home-intro .page-summary{
	font-size: @baseFontSize*1.2;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 300;
	max-width: 620px;
	color: #555;

	@media (min-width: 768px) and (max-width: 979px) {
		width: 86.666667%;
	}
	@media (min-width: 1200px) {
		width: 66.666667%;
	}
}

.news-events-overview{
	.section-divider(2);
	margin-bottom: @baseLineHeight;
}
.news-overview, .events-overview{
	section > h1{
		#font > .shorthand(@baseFontSize, 600, 1.571428571);
		color: #22809b;
	}
	// a:hover{
	// 	text-decoration: none;
	// 	border-bottom: 1px solid black;
	// }
}
.events-overview footer > a{
	margin-left: 30px;
}
@media (min-width: 979px) {
	.news-overview footer > a{
		margin-left: 10.5%;
	}
}
