
.news-item{
	.meta-date{
		font-weight: 700;
		.yr{
			font-weight: 300;
		}
	}
	@media (min-width: 979px) {
		.meta-date{
			width: 8.547008547%;
			float: left;
			position: absolute;
			left: 0;
			top: 0;
			text-align: right;
		}
		.yr{
			display: block;
		}
	}
}
.ie8 .news-item{
	padding-left: 10.5%;
	.meta-date{
		width: 8.547008547%;
		float: left;
		position: absolute;
		left: 0;
		top: 0;
		text-align: right;

		.yr{
				display: block;
			}
	}
}
// Leaving this here for future refinement if time persists

// .news-article[role="main"]{
// 	.makeRowFluid();
// 	margin: @baseLineHeight*2 0;
// 	header{
// 		.makeColumnFluid(8);
// 		h1{
// 			font-weight: 300;
// 			color: hsl(203, 29%, 21%);
// 		}
// 	}
// 	.entry{
// 		.makeColumnFluid(7,1);
// 	}
// 	.related{
// 		.makeColumnFluid(2,2);
// 		ul, ol{.unstyled();}
// 	}
// 	@media (min-width: 1200px) {
// 		header{
// 			.makeColumnFluid(8,1);
// 		}
// 		.entry{
// 			.makeColumnFluid(7,2);
// 		}
// 		.related{
// 			.makeColumnFluid(2,1);
// 		}
// 	}
// }

// .single-post [role="main"]{
// 	.entry p:first-of-type{
// 		margin-left: 0;
// 	}
// }


.entry{
	@media (min-width: 979px) {
		h2, h3, h4, p, ul, ol{
			max-width: 40em;
		}
	}
	h2, h3{
		font-weight: 300;
	}
	> p:first-of-type{
		#font > .shorthand(@baseFontSize*1.285714286, 300, 1.333333);
		color: hsl(0, 0%, 16%);
		margin-bottom: @baseLineHeight - 2px;
		letter-spacing: 1px;
	}
	ul{
		margin-left: 0px;
		color: hsl(0, 0%, 44%);
	}
	blockquote{
		margin: (@baseLineHeight*2) 0 (@baseLineHeight * 4);
		float: left;
		width: 40%;
		margin-right: 1em;
		border: 0;
		padding-left: 0;
		#font > .serif();
		p{
			margin-left: 0;
			margin-right: 10%;
			color: @grayLight;
		}
	}
}
