# Ignore Drupal core files and directories.
drupal/.gitignore
drupal/CHANGELOG.txt
drupal/COPYRIGHT.txt
drupal/INSTALL.mysql.txt
drupal/INSTALL.pgsql.txt
drupal/INSTALL.sqlite.txt
drupal/INSTALL.txt
drupal/LICENSE.txt
drupal/MAINTAINERS.txt
drupal/README.txt
drupal/UPGRADE.txt
drupal/authorize.php
drupal/cron.php
drupal/includes/
drupal/index.php
drupal/install.php
drupal/misc/
drupal/modules/
drupal/profiles/
drupal/robots.txt
drupal/scripts/
drupal/themes/
drupal/update.php
drupal/web.config
drupal/xmlrpc.php

# Version control sites/default/ but not other sites/ directories, sites/sites.php or sites/README.md.
drupal/sites/*
!drupal/sites/default

# Any files specific to an IDE, editor or uncommon environment configuration
# (E.g. Aegir) should go in the user's or system's git-ignore file instead of
# this version-controlled git-ignore file.
