.form-item .description {
	display: inline;
}

table.hpc_calc {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: inherit;
	width:100%;
}

td.hpc_calc {
	background-color: white;
	vertical-align: top;
	padding: 0;
	font-size: inherit;
}

td.hpc_calc_right {
	background-color: white;
	vertical-align: top;
	text-align: right;
	padding: 0;
	font-size: inherit;
}

.hpc_calc_description {
	font-size: x-small;
}

.hpc_calc_tabheader_center {
	text-align: center;
}

.hpc_calc_tabheader_smaller_font {
	font-size: x-small;
}

.hpc_calc_tabheader_right {
	text-align: right;
}

.hpc_calc_inline div {
	display: inline;
}

.form-type-radios div {
	display: inline;
}

.myerror div {
	display: none;
	color: red;
}
#power6_platform_detail, #power7_platform_detail, #intel_platform_detail, #bluegene_platform_detail {
  display: none;
  font-size: 0.9em;
}
